*{
    margin: 0;
    padding: 0;
}
body{
     display: border-box;
    /*flex-direction: row; */
}
.main{
    background-color: rgb(236, 232, 232);
    width: 850px;
    height: 500px;
    margin:auto;
    margin-top: 250px;
    border: 1px solid rgb(136, 133, 133);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: left;
    gap: 30px;
    box-shadow: 0 3px 3px gray;
}
h1{
    font-size: 40px;
    font-weight: bold;
    padding-left: 50px;
}
h5{
    padding-left: 50px;
    padding-bottom: 20px;
}
div{
    width: 100%;
}
.text{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
}
.ring1:hover{
    border-radius: 8px;
    background-color: rgb(216, 241, 235);
    box-shadow:0 2px 3px rgb(108, 109, 109) ;
    transition:all 0.2s ease-in
    
}
.ring2:hover{
    border-radius: 8px;
    box-shadow:0 2px 3px rgb(166, 168, 168) ;
    background-color: rgb(216, 241, 235);
    transition:all 0.2s ease-in
}
.ring3:hover{
    border-radius: 8px;
    box-shadow:0 2px 3px rgb(166, 168, 168) ;
    background-color: rgb(216, 241, 235);
    transition:all 0.2s ease-in
}

.ring1:active{
    border: 4px rgb(241, 167, 28);
}
.ring2:active{
    border: 4px rgb(241, 167, 28);
}.ring3:active{
    border: 4px rgb(241, 167, 28);
}